* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    background-color: #264653;
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* header/navbar ------------------------------------ */

header {
    width: 100%;
    height: 0%;
    top: 0;
    z-index: 1;
    background-color: #264653;
    align-items: center;
    position: fixed;
    padding: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 0;
    max-width: 1550px;
    align-items: center;
}

nav #logo{
    width: 60%;
    margin-top: 0px;
    height: auto;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #E9C46A;
    font-size: larger;
}

.cabecalho {
    margin: 8%;
}

button {
    background-color:#E76F51;
    border-radius: 25px;
    border: 1px solid #E76F51;
    color: #E9C46A;
    width: 190px;
    height: 51px;
    font-size: large;
}

/* seção 1 ------------------------------------ */
.content-background1 {
    background-image: url(../img/background1.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 100px ;
}

.bloco1{
    border: solid #FFEB00;
    border-radius: 20px;
    background-color: #FFEB00;
    margin-bottom: 10px;
    /* height: 80px; */
    width: auto;
    font-size: 50px;
    text-align: center;
    color: #264653;
}

#content {
    padding: 25%;
}

/* seção 2 ------------------------------------ */
.text-default{
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
}

.gaveta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
    font-size: 50px;
}

.gaveta2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.paragrafo1{
    font-size: 85px;
}

.paragrafo2{
    font-size: 60px;
}

.paragrafo3{
    font-size: 90px;
}

/* seção 3 ------------------------------------ */
.content-background2 {
    background-image: url(../img/background2.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}

.texto-personalizado1{
    width: 100%;
    font-size: 50px;
    font-weight: 600;
}

.texto-personalizado2{
    width: 100%;
    font-size: 40px;
    font-weight: 600;
}

.container-section3 .paragrafo3 {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 5px;
}

/* seção 4 ------------------------------------ */
#fotos {
    display: flex;
    justify-content: space-around;
}

.container-section4{
    background-color: #C25033;
    border: #C25033 solid;
    border-radius: 65px;
    width: 1220px;
    height: 1221px;
    margin-left: auto;
    margin-right: auto;
}

.card1{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: #E9C46A;
    border: #E9C46A solid;
    border-radius: 72px;
    width: 1088px;
    height: 479px;
    margin-left: auto;
    margin-right: auto;
    color: #264653;
}

#card1-1{
    display: flex;
    flex-direction: column;
}

.card1-2{
    display: flex;
    justify-content: left;
    color: #264653;
    text-decoration: none;
}

.card2{
    display: flex;
    align-items: center;
    /* justify-content: ; */
    background-color: #F4B582;
    border: #F4B582 solid;
    border-radius: 72px;
    width: 1088px;
    height: 479px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: #264653
}

.card2-1{
    display: flex;
}

/* footer ------------------------------------ */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    display: flex;
    background: #2A9D8F;
    padding: 10px;
    flex: end;
    align-items: center;
}

#social{
    display: flex;
    /* justify-content: space-between; */
    padding: 5px;
    margin-right: 5px;
    /* margin-left: auto; */
    align-items: center;
}

.icones{
    margin: 10%;
}

/* span-style ------------------------------------ */

.cor-preto{
    color: black
}

.cor-amarelo{
    color: #FFEB00
}

.cor-laranja{
    color:#FF852D
}

